body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

header {
    background-color: white;
}

.nav-link:hover {
    background-color: blue;
    transition: 0.6s linear;
}
