{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}EU-BikePlanner | Add a Trip {% endblock %}
{% block content %}

<!-- add-trip.html content begins here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-4 mb-0 text-center">Add Trip</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-6 mt-3">
            <hr class="bike-break">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="mb-5">
                    <input type="submit" value="Submit" class="btn btn-success">
                    <a class="btn btn-danger" href="{% url 'homepage' %}" role="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- add-trip.html content ends here -->
{% endblock %}