{% extends "base.html" %}
{% block title %}EU-BikePlanner | Delete a trip {% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<!-- delete-trip.html content begins here -->
<div class="container-fluid">
    <h2 class="text-center mt-5">Delete {{trip.title}}:</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="d-flex justify-content-center m-1 text-center">Are you you sure you want to delete this
            trip?</p>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger">Delete
            </button>
        </div>
    </form>
    
    <div class="d-flex justify-content-center m-1 text-center">
        <a class="btn btn-light btn-outline-secondary" href="{% url 'mytrips' %}" role="button">Back to trip list</a>
    </div>
</div>
<!-- delete-trip.html content ends here -->
{% endblock %}