{% extends "base.html" %}
{% block title %}EuroBike | Edit Trip{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<!-- edit-trip.html content begins here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-4 mb-0 text-center">Edit Trip</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-6 mt-3">
            <hr class="bike-break">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="mb-5">
                    <button type="submit" class="btn btn-success"> Update
                    </button>
                    <a class="btn btn-danger" href="{% url 'mytrips' %}" role="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- edit-trip.html  content ends here -->
{% endblock %}