{% extends "base.html" %}
{% block title %}EU-BikePlanner | {{trip.title}}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<!-- edit-trip.html content begins here -->
<div class="container-fluid">
    <h2 class="text-center mt-5">Edit your trip:</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <div>
            <button type="submit" class="btn btn-success"> Update
            </button>
        </div>
    </form>
    <div class="d-flex justify-content-center m-1 text-center">
        <a class="btn btn-light btn-outline-secondary" href="{% url 'mytrips' %}" role="button">Cancel</a>
    </div>
</div>
<!-- edit-trip.html  content ends here -->
{% endblock %}