{% extends "base.html" %}
{% block title %}EU-BikePlanner | Home{% endblock %}
{% block content %}

<!-- index.html content begins here -->
<div class="text-white">
    <h3>Your planner to bike long distance in Europe</h3>
    <p>Plan easy your bike trip through Europe. Pack smartly, travel far! <a class="link" href="{{ signup_url }}">Sign up</a> now or <a class="link" href="{{ login_url }}">log in</a> to start planning your next ride through Europe.</p>
</div>
<!-- index.html content ends here -->
{% endblock %}