{% extends "base.html" %}

{% block title %}EU-BikePlanner | My Trips {% endblock %}
{% block content %}

<!-- add-trip.html content begins here -->
<div class="container-fluid">
    <div class="col-12">
        <h3> My trips </h3>
    </div>
    <br>
    <div class="row card-deck">
        {% for trip in trip_list %}
        <div>
            <p>{{ trip.title }}</p>
            <div>
                <a href="{% url 'trip-details' trip.slug %}" class="stretched-link"
                        aria-label="trip-details"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- add-trip.html content ends here -->
{% endblock %}