{% extends "base.html" %}
{% load static %}

{% block title %} EuroBike | {{ route.title }} {% endblock %}
{% block content %}

<!--route_details.html content begins here -->

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                {% if "placeholder" in route.route_image.url %}
                <img src="{% static 'images/mountain-bike.jpeg' %}" alt="placeholder image">
                {% else %}
                <img src="{{route.route_image.url}}" alt="route image">
                {% endif %}
                <div class="card-body">
                    <p>Length: {{ route.length }}</p>
                    <p>Countries: {{ route.countries_visited }}</p>
                    <p>UNESCO sites: {{ route.UNESCO_sites }}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ route.title }}</h4>
                    <p>{{ route.content }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--route_details.html content ends here -->
{% endblock %}