{% extends "base.html" %}
{% load static %}

{% block title %} EuroBike | {{ route.title }} {% endblock %}
{% block content %}

<!--route_details.html content begins here -->

<div class="container p-0">
    <div class="card m-3 mt-4 mt-lg-5">
        <div class="row no-gutters">
            <div class="col-12 col-md-4">
                {% if "placeholder" in route.route_image.url %}
                <img src="{% static 'images/mountain-bike.jpeg' %}" alt="placeholder image"
                    style="max-height: 300px;object-fit: cover;width: 100%;">
                {% else %}
                <img src="{{route.route_image.url}}" alt="route image"
                    style="max-height: 100%;object-fit: cover;width: 100%;">
                {% endif %}
            </div>
            <div class="col-12 col-md-8">
                <div class="card-body text-center mt-2 mt-md-3 mt-lg-5">
                    <h4 class="card-title">{{ route.title }}</h4>
                    <p>Length: {{ route.length }}</p>
                    <p>Countries: {{ route.countries_visited }}</p>
                    <p>UNESCO sites: {{ route.UNESCO_sites }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="m-3 mt-4">
        <p>{{ route.content }}</p>
    </div>
</div>


<!--route_details.html content ends here -->
{% endblock %}