{% extends "base.html" %}
{% load static %}

{% block title %}EuroBike | {{trip.title}}{% endblock %}
{% block content %}

<!-- trip-details.html content begins here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-4 mb-0 text-center">Trip title: {{trip.title}}</h2>
        </div>
    </div>
    <hr class="bike-break mx-4 mx-lg-5 my-4">
    <div class="row row-cols-1 row-cols-md-2 mb-4">
        <div class="col mb-4 p-4 p-lg-5">
            <div class="card h-100 shadow bg-white rounded">
                {% if "placeholder" in trip.route.route_image.url %}
                <img src="{% static 'images/mountain-bike.jpeg' %}" class="card-img-top" alt="placeholder image">
                {% else %}
                <img src="{{ trip.route.map.url }}" class="card-img-top" alt="route map">
                {% endif %}
                <div class="card-body text-center mt-2 mt-md-3 mt-lg-5">
                    <h4 class="card-title">{{ trip.route }}</h4>
                    <p>Length: {{ trip.route.length }}</p>
                    <p>Countries: {{ trip.route.countries_visited }}</p>
                    <p>UNESCO sites: {{ trip.route.UNESCO_sites }}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4 p-4 p-lg-5">
            <div class="card h-100 shadow bg-white rounded">
                <div class="card-body">
                    <h4 class="text-center">Trip Details</h4>
                    <br>
                    <p><i class="fa-regular fa-calendar"></i> Trip start: {{trip.start_date}}</p>
                    <br>
                    <p><i class="fa-solid fa-people-group"></i> Persons number: {{trip.persons_number}}</p>
                    <br>
                    <p><i class="fa-solid fa-bicycle"></i> Bike type: {{trip.bike_type }}</p>
                    <br>
                    <p><i class="fa-solid fa-shirt"></i> Clothes: {{trip.clothes }}</p>
                    <br>
                    <p><i class="fa-solid fa-screwdriver-wrench"></i> Repair kit: {{trip.repair_kit }}</p>
                    <br>
                    <p><i class="fa-solid fa-suitcase"></i> Bags: {{trip.bags }}</p>
                    <br>
                    <p><i class="fa-solid fa-campground"></i> Sleeping kit: {{trip.sleeping_kit}}</p>
                    <br>
                    <p><i class="fa-solid fa-plug"></i> Electronics: {{trip.electronics }}</p>
                    <br>
                    <p><i class="fa-solid fa-sink"></i> Toiletries: {{trip.toiletries }}</p>
                    <br>
                    <p><i class="fa-solid fa-utensils"></i> Cooking kit: {{trip.cooking_kit }}</p>
                    <br>
                    <p><i class="fa-solid fa-clipboard-question"></i> Additional items: {{trip.additional_items}}</p>
                    <br>
                    <div>
                        <a class="btn btn-primary" href="{% url 'edit-trip' trip.slug %}" role="button">Edit <i
                                class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-primary" href="{% url 'delete-trip' trip.slug %}" role="button">Delete <i
                                class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- trip-details.html  content ends here -->
{% endblock %}