{% extends "base.html" %}
{% load static %}

{% block title %}EU-BikePlanner | {{trip.title}}{% endblock %}
{% block content %}

<!-- trip-details.html content begins here -->
<div class="container-fluid">
    <p>Trip title: {{trip.title}}</p>
    <br>
    <p>Trip start: {{trip.start_date}}</p>
    <br>
    <p>Route: {{trip.route}}</p>
    <div class="d-none d-md-block col-md-6 masthead-image">
        {% if "placeholder" in trip.route.route_image.url %}
        <img src="{% static 'images/mountain-bike.jpeg' %}" class="card-img-top"
            alt="placeholder image">
        {% else %}
        <img src="{{ trip.route.route_image.url }}" class="card-img-top" alt="route image">
        {% endif %}
    </div>
    <p>Persons number: {{trip.persons_number}}</p>
    <br>
    <p>Length: {{trip.route.length}}</p>
    <br>
    <p>Countries visited: {{trip.route.countries_visited }}</p>
    <br>
    <p>UNESCO sites: {{trip.route.UNESCO_sites }}</p>
    <br>
    <p>Bike type: {{trip.bike_type }}</p>
    <br>
    <p>Clothes: {{trip.clothes }}</p>
    <br>
    <p>Repair kit: {{trip.repair_kit }}</p>
    <br>
    <p>Bags: {{trip.bags }}</p>
    <br>
    <p>Sleeping kit: {{trip.sleeping_kit}}</p>
    <br>
    <p>Electronics: {{trip.electronics }}</p>
    <br>
    <p>Toiletries: {{trip.toiletries }}</p>
    <br>
    <p>Cooking kit: {{trip.cooking_kit }}</p>
    <br>
    <p>Additional items: {{trip.additional_items}}</p>
    <div>
        <span>
            <a href="{% url 'edit-trip' trip.slug %}" aria-label="Link to edit trip">Edit Trip <i class="fa-solid fa-pen-to-square"></i></a>
        </span>
    </div>
    <div>
        <span>
            <a href="{% url 'delete-trip' trip.slug %}" aria-label="Link to delete trip">Delete Trip <i class="fa-solid fa-trash-can"></i></i></a>
        </span>
    </div>
    </div>
<!-- trip-details.html  content ends here -->
{% endblock %}