{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EU - BikePlanner - to bike long distance in Europe stress-free!">
    <meta name="keywords" content="EU - BikePlanner, biking, accessories for biking, biking in Europe, Eurovelo">
    <meta name="author" content="Edoardo Angeli">
    <!-- Favicon -->
    <!--TO ADD LATER-->
    <!-- Bootstrap link -->
    <!--TO ADD -->
    <!-- stylesheet -->
    <!--TO ADD -->
    <title>Document</title>
</head>
<body>
    
</body>
</html>